.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 50px;

  button {
    background: none;
    border: none;
    padding: 0;
    width: 64px;
    height: 64px;
    transition: background-color 0.25s ease, border-radius 0.5s ease;
  }

  button:hover {
    background-color: rgba(169, 233, 224, 0.2);
    border-radius: 16px;
  }

  .active {
    border-radius: 16px;
    background-color: rgba(169, 233, 224, 0.75);
  }
  img {
    width: 64px;
    height: auto;
  }

  .icon {
    color: white;
    font-size: 32px;
  }
}

.group_ico {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
}
