.card_block {
  display: flex;
}

.card {
  position: relative;
  border: 0px solid #eee;
  border-radius: 24px;
  background-color: white;
  color: #323f47;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 160px;
  transform: border 1s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 24px;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.5s ease, border-color 0.3s ease;
  }

  &:hover::before {
    clip-path: inset(0 0 0 0);
  }

  &.positive:hover::before {
    border-color: #54d3c2;
  }

  &.negative:hover::before {
    border-color: #fc5c65;
  }

  &.selected {
    color: #ffffff;
    &.positive {
      background-color: #54d3c2;
    }

    &.negative {
      background-color: #fc5c65;
    }
  }
}

.card_title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.56px;
  color: #323f47;
  &.selected {
    color: #ffffff;
  }
}

.card_value {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.56px;
  color: #323f47;
  &.selected {
    color: #ffffff;
  }
}

.percentage_block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  width: 144px;
  height: 36px;
  &.positive {
    background-color: rgba(84, 211, 194, 0.15);
    &.selected {
      background-color: rgba(248, 248, 248, 0.25);
    }
  }
  &.negative {
    background-color: rgba(252, 92, 101, 0.15);
    &.selected {
      background-color: rgb(255, 231, 232, 0.25);
    }
  }
  .percentage {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.56px;
    &.positive {
      color: #54d3c2;
      &.selected {
        color: #ffffff;
      }
    }
    &.negative {
      color: rgba(252, 92, 101, 1);
      &.selected {
        color: #ffffff;
      }
    }
  }
}
