.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#54d3c2, #30898a);
}
.right_bar {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 56px 0px 0px 0px;
}

//Здесь все для сайдбара, потом декомпозировать

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 50px;

  button {
    background: none;
    border: none;
    padding: 0;
    width: 64px;
    height: 64px;
  }

  .active {
    border-radius: 16px;
    background-color: rgba(169, 233, 224, 0.75);
  }
  img {
    width: 64px;
    height: auto;
  }

  .icon {
    color: white;
    font-size: 32px;
  }
}

.group_ico {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
}
//
